.calendar {
	height: 100%;
	margin: 0 auto;
}

.calendar header {
	border-bottom: 1px solid #EEE;
	padding: 7px 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.calendar header .addEventBtn {
	margin-right: 10px;
}

.calendar .content {
	padding: 7px 3px;
}

.calendar .newEventPage {
	overflow: hidden;
	height: 260px;
	padding: 0 3px;
	-webkit-transition-property: all;
	-webkit-transition-duration: .3s;
}

.calendar .newEventPage.hide {
	overflow: hidden;
	height: 0;
}

.calendar .newEventPage input[type=text] {
	box-sizing: border-box;
	display: block;
	margin: 7px 0;
	width: 100%;
}

.calendar .newEventPage footer {
	margin-top: 7px;
}

.eventList {
    overflow: auto;
}

.calendar footer {
	border-top: 1px solid #EEE;
	padding: 7px 0;
	text-align: right;
}