<div class="calendar display-box box-vertical-orient">
	<!-- Header -->
	<header class="display-box box-align no-flexbox-overflow">
		<button data-ng-click="toggleNewEventPage(true)" class="addEventBtn" data-ng-disabled="newEvent">+</button>
		<label class="display-block box-flex no-flexbox-display-inline-block" data-ng-bind-template="{{date | dateFilter}}"></label>
		<button data-ng-click="today()" class="no-flexbox-float-right">Today</button>
		<div class="group-buttons no-flexbox-display-inline-block no-flexbox-float-right">
			<button data-ng-click="changeDate(-1)">&lt;</button><!--
			--><button data-ng-click="changeDate(1)">&gt;</button>
		</div>
	</header>
	<!-- Content -->
	<section class="content box-flex display-box box-vertical-orient">
		<section class="newEventPage" data-ng-class="{hide: !newEvent}">
			<form name="newEventForm" data-ng-submit="addNew()">
				<input type="text" placeholder="Subject" data-ng-model="newEventSubject" required/>
				<input type="text" placeholder="Location" data-ng-model="newEventLocation"/>
				<div class="display-box">
					<div>
						<input type="number" min="0" max="23" data-ng-model="newEventHour"/>
						<label>:</label>
						<input type="number" min="0" max="59" data-ng-model="newEventMinutes"/>
					</div>
					<div class="box-flex align-right">
						<input type="number" min="1" max="{{getDaysInMonth()}}" data-ng-model="newEventDate"/>
						<label>/</label>
						<select data-ng-model="newEventMonth" data-ng-options="setMonth(month) as month for month in months()" data-ng-change="newEventMonthChange()"></select>
						<label>/</label>
						<input type="number" min="2012" max="2022" data-ng-model="newEventYear"/>
					</div>
				</div>

				<footer>
					<button class="icon-plus" data-ng-disabled="newEventForm.$invalid">Add</button>
					<button class="icon-remove" data-ng-click="toggleNewEventPage(false)">Cancel</button>
				</footer>
			</form>
		</section>
		<searchfilter></searchfilter>
        <div class="box-flex eventList">
            <div class="event display-box" data-ng-repeat="event in events | filter:filteredEvents()">
                <div class="details box-flex no-flexbox-display-inline-block">
                    <div class="subject">{{event.subject}}</div>
                    <div class="location">{{event.location || "&nbsp;"}}</div>
                </div>
                <div class="time no-flexbox-display-inline-block">{{event.date | dateFilter:"H:mm"}}</div>
            </div>
        </div>
	</section>
	<!-- Footer -->
	<footer>
		<select data-ng-model="lang" data-ng-options="locale for locale in locales" data-ng-change="changeLocale()"></select>
	</footer>
</div>